
.header {
    display: grid;
    position: relative;
    width: 90%;
    height: inherit;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    grid-gap: 1rem;
    grid-template-areas:"l t";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    color: inherit;

    &__logo {
        grid-area: l;
        height: inherit;
        width: auto;
        align-self: center;
        max-width: 13rem;

        @media screen and (max-width: 31.5rem) {
            max-width: 10rem;
        }
    }

    &__text {
        grid-area: t;
        align-self: center;
        font-size: 5rem;
        font-style: italic;
        font-weight: bold;
        color: #b0e3b0;
        opacity: 0.6;
        text-shadow: $box-shadow1;

        @media screen and (max-width: 55rem) {
            font-size: 3rem;
        }
    }
}
