
.message {
    display: grid;
    margin: 0 auto;
    width: 100%;
    height: auto;
    // border: solid 1px lightgray;
    border-radius: 5px;
    // background-color: $color-active2;
    transition: all .1s ease-in-out;
    box-shadow: 0 14px 28px $color-active2-shadow1, 0 10px 10px $color-active2-shadow2; //, 0 0px 1px gray;    
    background: linear-gradient($color-active, $color-active2);
    grid-column-gap: 2%;
    grid-row-gap: 1rem;
    grid-template-areas:"i T T T"
                        "i t t t"
                        "i d p pr";
    grid-template-columns: 250px 100px auto auto;
    grid-template-rows: auto 1fr 25px;
    
    @media screen and (max-width: 600px) {
        grid-template-areas:". i ."
                            "T T T"
                            "t t t"
                            "d p pr";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto 1fr 25px;
        padding-top: 10px;
    }

    &:hover { 
        // transform: scale(1.01);
    }

    &__image {
        grid-area: i;
        max-width: 250px;
        margin: auto auto;
        border-radius: inherit;
        display: grid;
        margin: 0 auto;
        // grid-row-gap: 3px;
        grid-template-areas:"ia"
                            "ir";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    &__image-active {
        grid-area: ia;
        max-width: inherit;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    &__image-row {
        grid-area: ir;
        width: inherit;
        border-radius: inherit;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: left;
    }

    &__image-small {
        max-height: 50px;
        max-width: 50px;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    
    &__title {
        grid-area: T;
        padding: 10px;
        padding-left: 20px;
        background-color: $color-active;
        border-bottom: 2px solid rgba(0,0,0,0.5);
        font-size: 24px;
        font-weight: bold;
        border-top-right-radius: inherit;
    }
    
    &__text {
        grid-area: t;
        padding: 10px;
        padding-left: 20px;
        // background-color: #befce4;
    }
    
    &__date {
        grid-area: d;
        background-color: $color-active-shadow1;
        color: white;
        font-size: 10px;
        padding: 3px 5px;
        margin: auto auto;
        border-radius: inherit;
    }
    
    &__place {
        grid-area: p;
        margin: auto 0;
    }
    
    &__price {
        grid-area: pr;
        margin: auto auto;
        border-radius: inherit;
    }
}