.content {
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(50, 50, 0, 0.15), 0.2rem 0.3rem 0.5rem rgba(50, 50, 0, 0.12);
  background: linear-gradient(#e6fae6, #fafae6);
  padding: 1rem;
  border-radius: 0.3rem; }
  .content_hidden {
    box-shadow: none;
    background: none;
    padding: 0; }
  .content__messages, .content__pages, .content__docform, .content__about {
    width: 100%; }
    .content__messages_hidden, .content__pages_hidden, .content__docform_hidden, .content__about_hidden {
      display: none; }
  .content__about-header {
    font-size: 2rem;
    padding: 1rem 4rem 0 5rem; }
  .content__about-article {
    padding: 0 2rem 1rem 3rem;
    text-align: justify; }
  .content__item {
    padding-bottom: 2rem; }
  .content__page {
    display: inline-block;
    width: auto;
    height: 1rem;
    padding: 0.3rem 0.5rem;
    margin: 0 0.3rem;
    background-color: #e6fae6;
    transition: all .05s ease-in-out;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(50, 50, 0, 0.15), 0.2rem 0.3rem 0.5rem rgba(50, 50, 0, 0.12); }
    .content__page:hover {
      transform: scale(1.1);
      background-color: #dcf0dc;
      cursor: pointer; }
    .content__page_current {
      background-color: #fafae6;
      border: 0.1rem solid #dcf0dc; }
      .content__page_current:hover {
        transform: none;
        background-color: #fafae6;
        color: rgba(0, 0, 0, 0.8);
        cursor: default; }

.message {
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
  transition: all .1s ease-in-out;
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(50, 50, 0, 0.15), 0.2rem 0.3rem 0.5rem rgba(50, 50, 0, 0.12);
  background: linear-gradient(#e6fae6, #fafae6);
  grid-column-gap: 2%;
  grid-row-gap: 1rem;
  grid-template-areas: "i T T T" "i t t t" "i d p pr" "i ph ph ph";
  grid-template-columns: 15rem 6rem auto auto;
  grid-template-rows: auto 1fr auto auto; }
  @media screen and (max-width: 40rem) {
    .message {
      grid-template-areas: "T T T" "i i i" "t t t" "d p pr" "ph ph ph";
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto 1fr auto auto; } }
  @media screen and (max-width: 31.5rem) {
    .message {
      grid-template-areas: "T T" "i i" "t t" "p p" "d pr" "ph ph";
      grid-template-columns: auto auto;
      grid-template-rows: auto auto 1fr auto auto auto; } }
  .message__image {
    grid-area: i;
    max-width: 15rem;
    height: 15rem;
    width: inherit;
    border-radius: inherit;
    display: grid;
    margin: 0 auto;
    text-align: -webkit-center;
    grid-template-areas: "ia" "ir";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; }
    @media screen and (max-width: 40rem) {
      .message__image {
        max-width: 20rem;
        height: auto; } }
  .message__image-active-wrapper {
    grid-area: ia;
    max-width: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 12rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2); }
    @media screen and (max-width: 40rem) {
      .message__image-active-wrapper {
        height: auto; } }
  .message__image-active {
    max-width: inherit;
    max-height: 12rem;
    border-radius: inherit;
    cursor: pointer;
    margin: auto;
    z-index: 10; }
  .message__no-image {
    position: absolute;
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem; }
  .message__image-row {
    grid-area: ir;
    width: inherit;
    border-radius: inherit;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: left;
    height: 3rem; }
    @media screen and (max-width: 40rem) {
      .message__image-row {
        height: auto; } }
  .message__image-small {
    max-height: 3rem;
    max-width: 3rem;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    cursor: pointer; }
    @media screen and (max-width: 40rem) {
      .message__image-small {
        max-height: 4rem;
        max-width: 4rem; } }
  .message__title {
    grid-area: T;
    padding: 0.5rem;
    padding-left: 1.5rem;
    background-color: #d1efd1;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: inherit;
    position: relative; }
    @media screen and (max-width: 40rem) {
      .message__title {
        text-align: center; } }
  .message__edit {
    position: absolute;
    right: 2.4rem;
    top: 0.7rem;
    font-size: inherit;
    cursor: pointer;
    color: #82cf73;
    background-color: #e6fae6;
    border: 0;
    border-radius: 50%; }
  .message__delete {
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    font-size: inherit;
    cursor: pointer;
    color: #db8282;
    background-color: #e6fae6;
    border: 0;
    border-radius: 50%; }
  .message__text {
    grid-area: t;
    padding: 0.5rem;
    padding-left: 1rem; }
  .message__date {
    grid-area: d;
    background-color: #d1efd1;
    font-size: 1rem;
    padding: 0.2rem 0.3rem;
    margin: auto 1rem;
    width: 5rem;
    border-radius: inherit; }
  .message__place {
    grid-area: p;
    padding-left: 1rem;
    margin: auto 0; }
  .message__phone {
    grid-area: ph;
    padding-left: 1rem;
    margin: auto 0;
    padding-bottom: 0.5rem;
    cursor: pointer; }
  .message__price {
    grid-area: pr;
    text-align: right;
    padding-right: 1.5rem;
    border-radius: inherit;
    min-height: 1rem;
    margin: auto 0; }
  .message__shadow {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    text-align: -webkit-center;
    font-size: 4rem;
    color: lightgray;
    z-index: 100; }
  .message__bigimage {
    grid-area: bigimage;
    margin: auto;
    max-width: 100%;
    max-height: 100%; }
  .message__prev, .message__next, .message__close {
    position: fixed;
    cursor: pointer; }
    .message__prev i, .message__next i, .message__close i {
      font-size: 5rem;
      align-self: center; }
      @media screen and (max-width: 40rem) {
        .message__prev i, .message__next i, .message__close i {
          font-size: 3rem; } }
    .message__prev:hover, .message__next:hover, .message__close:hover {
      background-color: rgba(0, 0, 0, 0.5); }
  .message__prev {
    grid-area: prev;
    left: 0rem;
    height: inherit;
    display: flex; }
  .message__next {
    grid-area: next;
    right: 0rem;
    height: inherit;
    display: flex; }
  .message__close {
    right: 1rem;
    top: 1rem;
    display: block; }
  .message__id {
    display: none; }

.login {
  border: solid 0.1rem lightgray;
  background-color: #e6fae6;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  font: inherit;
  width: auto;
  cursor: pointer;
  display: flex; }
  .login:hover {
    background-color: #d1efd1; }
  .login_logout {
    background-color: #fafae6; }
    .login_logout:hover {
      background-color: lightgoldenrodyellow; }
  .login__txt {
    height: 1rem;
    width: inherit;
    margin: auto;
    height: auto;
    text-align: center; }
  .login__shadow {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100; }
  .login__grid {
    display: grid;
    width: 25rem;
    position: relative;
    font: inherit;
    margin: auto auto;
    background: linear-gradient(#e6fae6, #fafae6);
    border-radius: 0.5rem;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-areas: "e e e" "p p p" ". . s"; }
    .login__grid_reg {
      grid-template-areas: "e e e" "p p p" "f f f" ". . s"; }
  .login__email {
    grid-area: e; }
  .login__password {
    grid-area: p; }
  .login__phone {
    grid-area: f; }
  .login__submit {
    grid-area: s;
    font: inherit;
    height: 2rem;
    border-radius: 0.3rem;
    border: solid 0.1rem lightgray;
    background-color: #e6fae6;
    outline: none;
    cursor: pointer; }
    .login__submit:hover {
      background-color: #dcf0dc; }
  .login__email, .login__password, .login__phone {
    grid: 2fr;
    width: 100%;
    border: solid 0.1rem lightgray;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
    height: 2rem;
    font: inherit;
    outline: none; }
    .login__email.error, .login__password.error, .login__phone.error {
      border: solid 0.1rem lightpink; }
  .login__btn-log, .login__btn-reg {
    position: absolute;
    width: 12rem;
    height: 2rem;
    top: -2rem;
    grid: 1fr;
    font: inherit;
    background-color: #fafae6;
    border: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-left: 0.3rem;
    cursor: pointer;
    opacity: 0.7;
    outline: none; }
    .login__btn-log:hover, .login__btn-reg:hover {
      opacity: 1; }
    .login__btn-log:disabled, .login__btn-reg:disabled {
      background-color: #e6fae6;
      cursor: default;
      opacity: 1; }
  .login__btn-log {
    left: calc(50% - 12.3rem); }
  .login__btn-reg {
    left: calc(50% + 0.3rem); }

.header {
  display: grid;
  position: relative;
  width: 90%;
  height: inherit;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  grid-gap: 1rem;
  grid-template-areas: "l t";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  color: inherit; }
  .header__logo {
    grid-area: l;
    height: inherit;
    width: auto;
    align-self: center;
    max-width: 13rem; }
    @media screen and (max-width: 31.5rem) {
      .header__logo {
        max-width: 10rem; } }
  .header__text {
    grid-area: t;
    align-self: center;
    font-size: 5rem;
    font-style: italic;
    font-weight: bold;
    color: #b0e3b0;
    opacity: 0.6;
    text-shadow: 0.1rem 0.2rem 0.2rem rgba(50, 50, 0, 0.15), 0.2rem 0.3rem 0.5rem rgba(50, 50, 0, 0.12); }
    @media screen and (max-width: 55rem) {
      .header__text {
        font-size: 3rem; } }

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media screen and (max-width: 55rem) {
    .menu {
      padding: 0;
      height: fit-content;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; } }
  .menu__item {
    border: solid 0.1rem lightgray;
    margin-bottom: 1rem;
    min-width: 4rem;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    background-color: #e6fae6;
    cursor: pointer;
    display: flex; }
    @media screen and (max-width: 55rem) {
      .menu__item {
        margin-right: 1rem;
        margin-bottom: 0;
        margin-top: 0.2rem; } }
    .menu__item:hover {
      background-color: #d1efd1; }
    .menu__item_hidden {
      display: none; }
  .menu__wrapper {
    margin-bottom: 1rem;
    display: grid; }
    @media screen and (max-width: 55rem) {
      .menu__wrapper {
        margin-right: 1%;
        margin-bottom: 0;
        margin-top: 0.2rem; } }
  .menu__txt {
    margin: auto; }

.docform {
  display: grid;
  margin: 0 auto;
  width: 100%;
  border-radius: 0.3rem;
  grid-gap: 1.3rem;
  grid-template-areas: "h h h" "ti ti ti" "t t t" "s p ." "i i i" ". . sbmt";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto auto auto; }
  .docform__images {
    grid-area: i;
    display: flex;
    flex-wrap: wrap; }
  .docform__plus, .docform__minus {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
    padding-left: 0.3rem; }
  .docform__minus {
    position: absolute; }
  .docform__image {
    width: 6rem;
    height: auto;
    padding-left: 1rem;
    cursor: pointer; }
  .docform__header {
    grid-area: h; }
  .docform__sbmt {
    grid-area: sbmt;
    justify-self: end;
    min-width: 11rem;
    font: inherit;
    height: 2rem;
    border-radius: 0.3rem;
    border: solid 0.1rem lightgray;
    background-color: #e6fae6;
    outline: none;
    cursor: pointer; }
    .docform__sbmt:hover {
      background-color: #dcf0dc; }
  .docform__header, .docform__view-header {
    font-size: 1rem;
    height: auto;
    width: auto;
    padding-left: 1rem; }
  .docform__title {
    grid-area: ti; }
  .docform__text {
    grid-area: t; }
  .docform__price {
    grid-area: s; }
  .docform__place {
    grid-area: p; }
  .docform__title, .docform__price, .docform__place {
    grid: 2fr;
    width: 100%;
    border: solid 0.1rem lightgray;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
    height: 2rem;
    font: inherit;
    outline: none; }
    .docform__title.error, .docform__price.error, .docform__place.error {
      border: solid 0.1rem lightpink; }
  .docform__text {
    width: 100%;
    border: solid 0.1rem lightgray;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
    font: inherit;
    outline: none;
    resize: none; }

.search {
  border: solid 0.1rem lightgray;
  background-color: #fafae6;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  font-family: inherit;
  width: auto;
  text-align: end;
  color: inherit;
  display: grid;
  grid-template-areas: "si si" ". ss";
  gap: 0.2rem; }
  @media screen and (max-width: 55rem) {
    .search {
      grid-template-areas: "si ss";
      grid-template-columns: 1fr 4rem;
      background-color: white;
      padding: 0.2rem 0.5rem; } }
  .search__input {
    grid-area: si;
    border: inherit;
    border-radius: 0.2rem;
    color: inherit;
    outline: none;
    font-family: inherit;
    min-width: 3rem;
    padding: 0.1rem 0.5rem; }
    @media screen and (max-width: 55rem) {
      .search__input {
        border: 0; } }
    .search__input.error {
      border: solid 0.1rem lightpink; }
  .search__button {
    grid-area: ss;
    border: inherit;
    border-radius: 0.2rem;
    background-color: #e6fae6;
    color: inherit;
    outline: none;
    font-family: inherit;
    cursor: pointer; }
    .search__button:hover {
      background-color: #d1efd1; }
    .search__button:disabled {
      background-color: #fafae6;
      cursor: default;
      opacity: 1; }
      .search__button:disabled:hover {
        background-color: none; }

html, body {
  height: 100%;
  max-width: 64rem;
  margin: 0 auto;
  font-family: arial,sans-serif;
  color: #646464; }

.main {
  min-height: 95vh;
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  display: grid;
  grid-gap: 1.3rem;
  grid-template-areas: "h h" "m c" "f f";
  grid-template-columns: 13rem auto;
  grid-template-rows: auto 1fr 6rem; }
  @media screen and (max-width: 55rem) {
    .main {
      grid-template-areas: "h" "m" "c" "f";
      grid-template-columns: 100%;
      grid-template-rows: auto auto 1fr 6rem; } }
  .main__header {
    grid-area: h;
    background-color: #fafae6;
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(50, 50, 0, 0.15), 0.2rem 0.3rem 0.5rem rgba(50, 50, 0, 0.12);
    border-radius: 0.3rem;
    background: linear-gradient(#e6fae6, #fafae6);
    text-align: -webkit-center; }
  .main__menu {
    grid-area: m;
    padding: 1rem;
    background-color: #e6fae6;
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(50, 50, 0, 0.15), 0.2rem 0.3rem 0.5rem rgba(50, 50, 0, 0.12);
    border-radius: 0.3rem;
    background: linear-gradient(#e6fae6, #fafae6); }
    @media screen and (max-width: 55rem) {
      .main__menu {
        padding: 0.3rem 1rem; } }
  .main__content {
    grid-area: c; }
  .main__footer {
    grid-area: f;
    padding: 1rem;
    background-color: #e6fae6;
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(50, 50, 0, 0.15), 0.2rem 0.3rem 0.5rem rgba(50, 50, 0, 0.12);
    border-radius: 0.3rem;
    background: linear-gradient(#fafae6, #e6fae6); }


/*# sourceMappingURL=main.css.map*/