.content__item {
  padding-bottom: 2em; }

.content__page {
  display: inline-block;
  width: auto;
  height: 20px;
  padding: 5px 10px;
  margin: 0px 5px;
  background-color: #e6fae6;
  transition: all .2s ease-in-out;
  border-radius: 3px; }
  .content__page:hover {
    transform: scale(1.1);
    background-color: #dcf0dc;
    color: white;
    cursor: pointer; }
  .content__page_current {
    background-color: #fafae6;
    border: 2px solid #dcf0dc; }
    .content__page_current:hover {
      transform: none;
      background-color: #fafae6;
      color: rgba(0, 0, 0, 0.8);
      cursor: default; }

.message {
  display: grid;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  background-color: #fafae6;
  transition: all .2s ease-in-out;
  box-shadow: 0 14px 28px rgba(50, 50, 0, 0.25), 0 10px 10px rgba(50, 50, 0, 0.22);
  grid-column-gap: 2%;
  grid-row-gap: 1em;
  grid-template-areas: "i T T T" "i t t t" "i d p e";
  grid-template-columns: 200px 100px auto auto;
  grid-template-rows: auto 1fr 25px; }
  @media screen and (max-width: 600px) {
    .message {
      grid-template-areas: ". i ." "T T T" "t t t" "d p e";
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto 1fr 25px; } }
  .message:hover {
    transform: scale(1.02); }
  .message__image {
    grid-area: i;
    max-height: 200px;
    max-width: 200px;
    margin: auto auto;
    border-radius: inherit; }
  .message__title {
    grid-area: T;
    padding: 10px;
    padding-left: 20px;
    background-color: #e6fae6;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: bold;
    border-top-right-radius: inherit; }
  .message__text {
    grid-area: t;
    padding: 10px;
    padding-left: 20px; }
  .message__date {
    grid-area: d;
    background-color: #dcf0dc;
    color: white;
    font-size: 10px;
    padding: 3px 5px;
    margin: auto auto;
    border-radius: inherit; }
  .message__place {
    grid-area: p;
    margin: auto 0; }
  .message__email {
    grid-area: e;
    margin: auto auto;
    border-radius: inherit; }

.login {
  border: solid 1px lightgray;
  background-color: #e6fae6;
  border-radius: 5px;
  padding: 5px 10px;
  font: inherit;
  width: auto;
  min-width: 70px;
  cursor: pointer; }
  .login:hover {
    background-color: #dcf0dc; }
  .login_logout {
    background-color: #fafae6; }
    .login_logout:hover {
      background-color: lightgoldenrodyellow; }
  .login__txt {
    height: 20px;
    width: inherit;
    text-align: center;
    height: auto; }
  .login__shadow {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  .login__grid {
    display: grid;
    width: 400px;
    position: relative;
    font: inherit;
    margin: 0 auto;
    top: 40%;
    background: linear-gradient(#e6fae6, #fafae6);
    border-radius: 10px;
    padding: 20px;
    grid-gap: 15px;
    grid-template-areas: "e e e" "p p p" ". . s"; }
    .login__grid_reg {
      grid-template-areas: "e e e" "p p p" "f f f" ". . s"; }
  .login__email {
    grid-area: e; }
  .login__password {
    grid-area: p; }
  .login__phone {
    grid-area: f; }
  .login__submit {
    grid-area: s;
    font: inherit;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #dcf0dc;
    background-color: #e6fae6;
    outline: none;
    cursor: pointer; }
    .login__submit:hover {
      background-color: #dcf0dc; }
  .login__email, .login__password, .login__phone {
    grid: 2fr;
    width: 100%;
    border: solid 1px lightgray;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    font: inherit;
    outline: none; }
    .login__email.error, .login__password.error, .login__phone.error {
      border: solid 2px lightpink; }
  .login__btn-log, .login__btn-reg {
    position: absolute;
    width: 185px;
    height: 30px;
    top: -30px;
    grid: 1fr;
    font: inherit;
    background-color: #fafae6;
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 5px;
    cursor: pointer;
    opacity: 0.7;
    outline: none; }
    .login__btn-log:hover, .login__btn-reg:hover {
      opacity: 1; }
    .login__btn-log:disabled, .login__btn-reg:disabled {
      background-color: #e6fae6;
      cursor: default;
      opacity: 1; }
  .login__btn-log {
    left: calc(50% - 190px); }
  .login__btn-reg {
    left: calc(50% + 5px); }

.header {
  display: grid;
  position: relative;
  width: 90%;
  height: inherit;
  padding: 10px 50px;
  border-radius: 10px;
  grid-gap: 15px;
  grid-template-areas: "l t";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  color: inherit; }
  .header__logo {
    grid-area: l;
    height: inherit;
    width: auto;
    align-self: center;
    max-width: 250px; }
  .header__text {
    grid-area: t;
    align-self: center;
    font-size: 80px;
    font-style: italic;
    color: inherit;
    opacity: 0.6;
    text-shadow: 0 14px 28px rgba(0, 50, 0, 0.25), 7px 10px 10px rgba(0, 50, 0, 0.42); }

.menu {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 900px) {
    .menu {
      padding: 0;
      height: fit-content;
      flex-direction: row;
      justify-content: start; } }
  .menu__item {
    border: solid 1px lightgray;
    margin-bottom: 10px;
    min-width: 70px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e6fae6;
    cursor: pointer;
    display: flex; }
    @media screen and (max-width: 900px) {
      .menu__item {
        margin-right: 10px;
        margin-bottom: 0px; } }
    .menu__item:hover {
      background-color: #dcf0dc; }
    .menu__item_hidden {
      display: none; }
  .menu__txt {
    margin: auto; }

html, body {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  font-family: arial,sans-serif;
  color: rgba(0, 0, 0, 0.8); }

.main {
  min-height: 95vh;
  padding-top: 2vh;
  padding-bottom: 3vh;
  min-width: 96vh;
  padding-left: 2vh;
  padding-right: 2vh;
  display: grid;
  grid-gap: 1.3rem;
  grid-template-areas: "h h" "m c" "f f";
  grid-template-columns: 200px auto;
  grid-template-rows: auto 1fr 100px; }
  @media screen and (max-width: 900px) {
    .main {
      grid-template-areas: "h h h" "m m m" "c c c" "f f f";
      grid-template-columns: auto;
      grid-template-rows: auto auto 1fr 100px; } }
  @media screen and (max-width: 600px) {
    .main {
      grid-template-areas: "h" "m" "c" "f"; } }
  .main__header {
    grid-area: h;
    background-color: #fafae6;
    box-shadow: 0 14px 28px rgba(50, 50, 0, 0.25), 0 10px 10px rgba(50, 50, 0, 0.22);
    border-radius: 5px;
    background: linear-gradient(#e6fae6, #fafae6);
    text-align: -webkit-center; }
  .main__menu {
    grid-area: m;
    padding: 20px;
    background-color: #e6fae6;
    box-shadow: 0 14px 28px rgba(0, 50, 0, 0.25), 0 10px 10px rgba(0, 50, 0, 0.22);
    border-radius: 5px;
    background: linear-gradient(#e6fae6, #fafae6); }
    @media screen and (max-width: 900px) {
      .main__menu {
        padding: 5px 20px; } }
  .main__content {
    grid-area: c;
    border-radius: 5px; }
  .main__footer {
    grid-area: f;
    padding: 20px;
    background-color: #e6fae6;
    box-shadow: 0 14px 28px rgba(0, 50, 0, 0.25), 0 10px 10px rgba(0, 50, 0, 0.22);
    border-radius: 5px;
    background: linear-gradient(#fafae6, #e6fae6); }


/*# sourceMappingURL=main.css.map*/