
body {
    color: #856404;
}

a {
    color: #856404;
}

a:hover, a:focus {
    color: orange;
    text-decoration: none;
}

.pagination li {
    padding-right: 5px;
    padding-left: 5px;
    border-color: #868e96;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    margin-left: 5px;
}

.pagination li.active {
    background-color: #fff3cd;
}

.alert-warning-orange{color:#856404;background-color:#ffc107;border-color:#ffeeba}