<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <div th:replace="fragments :: header-css"/>
</head>

<body>

<div class="container-fluid">

    <div th:replace="fragments :: header-top"/>

    <div class="row mt-3">

        <div th:replace="fragments :: left-menu"/>

        <div class="col-sm-9">
            <div class="alert alert-warning mb-2 border border-secondary">
                <form action="#" th:action="@{/index}" method="GET" th:name="${model}">
                    <div class="container-fluid">
                        <div class="row">
                            <select style="background-color: #fff3cd;" class="form-control col-2" name="place" id="place">
                                <option th:text="${place}"></option>
                                <option style="background-color: #ffc107;">everywhere</option>
                                <option style="background-color: #fff;" th:each="place:${places}" th:text="${place}"></option>
                            </select>
                            <input type="text" class="form-control col-6" placeholder="Text to find" name="find"
                                   id="find" th:value="${find}"/>
                            <input type="hidden" name="page" id="page" value="1"/>
                            <button class="btn btn-warning col-2" type="submit">Find</button>
                            <a href="/" class="btn btn-light col-2 ">Clear</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="alert alert-warning mb-2 border border-secondary" th:each="map:${docs}">
                <div class="alert alert-warning-orange pl-5 pr-5 border border-secondary">
                    <h2 th:text="${map.key.title}">Heading</h2>
                </div>
                <div class="alert alert-light p-3 rounded mt-3 border border-secondary" th:text="${map.key.text}"></div>
                <div class="text-center" th:if="null!=${map.key.imageFileId}">
                    <img th:src="@{'/img/'+${map.key.imageFileId}}" height="160"/>
                </div>
                <div class="text-left">
                    <h5 class="m-1 p-1" th:text="''+${map.key.place}"></h5>
                    <h6 class="m-1 p-1" th:text="''+${map.value.phone}"></h6>
                </div>
                <div class="badge badge-warning">
                    <small th:text="'Created at '+${map.key.date}"></small>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm mb-0 pl-3">
                    <li th:class="${p}==${page}?'active':'page'" th:each="p : ${#numbers.sequence( 1, pages)}">
                        <a th:text="${p}" th:href="@{'index?page='+${p}}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div th:replace="fragments :: footer"/>

</div>

<script type="text/javascript" src="../static/js/require.min.js" data-main="../scripts/startup"></script>
</body>

</html>