.content {
    box-shadow: $box-shadow1;
    background: linear-gradient($color-active, $color-active2);
    padding: 1rem;
    border-radius: 0.3rem;

    &_hidden {
        box-shadow: none; 
        background: none;
        padding: 0;
    }

    &__messages, &__pages, &__docform, &__about {
        width: 100%;
        
        &_hidden {
            display: none;
        }
    }

    &__about-header {
        font-size: 2rem;
        padding: 1rem 4rem 0 5rem;
    }

    &__about-article {
        padding: 0 2rem 1rem 3rem;
        text-align: justify;
    }

    &__item {
        padding-bottom: 2rem;
    }

    &__page {
        display: inline-block;
        width: auto;
        height: 1rem;
        padding: 0.3rem 0.5rem;
        margin: 0 0.3rem;
        background-color: $color-active;
        transition: all .2s ease-in-out;
        border-radius: 0.2rem;
        box-shadow: $box-shadow1;

        &:hover {
            transform: scale(1.1);  
            background-color: $color-active-bright;
            color: white;
            cursor: pointer;
        }

        &_current {
            background-color: $color-active2;
            border: 0.1rem solid $color-active-bright;

            &:hover {
                transform: none;
                background-color: $color-active2;
                color: rgba(0, 0, 0, 0.8);
                cursor: default;
            }
        }
    }
}