.content {
    box-shadow: 0 14px 28px $color-active-shadow1, 0 10px 10px $color-active-shadow2;
    background: linear-gradient($color-active, $color-active2);
    padding: 20px;
    border-radius: 5px;

    &_hidden {
        box-shadow: none; 
        background: none;
        padding: 0px;
    }

    &__messages, &__pages, &__docform, &__about {
        width: 100%;
        
        &_hidden {
            display: none;
        }
    }

    &__about-header {
        font-size: 30px;
        padding: 20px 60px 0px 60px;
    }

    &__about-article {
        padding: 0px 20px 20px 40px;
        text-align: justify;
    }

    &__item {
        padding-bottom: 2em;
    }

    &__page {
        display: inline-block;
        width: auto;
        height: 20px;
        padding: 5px 10px;
        margin: 0px 5px;
        background-color: $color-active;
        transition: all .2s ease-in-out;
        border-radius: 3px;

        &:hover {
            transform: scale(1.1);  
            background-color: $color-active-bright;
            color: white;
            cursor: pointer;
        }

        &_current {
            background-color: $color-active2;
            border: 2px solid $color-active-bright;

            &:hover {
                transform: none;
                background-color: $color-active2;
                color: rgba(0, 0, 0, 0.8);
                cursor: default;
            }
        }
    }
}