.docform {
    display: grid;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.3rem;
    grid-gap: 1.3rem;
    grid-template-areas:"h h h"
                        "ti ti ti"
                        "t t t"
                        "s p ."
                        "i i i"
                        ". . sbmt";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto auto auto;

    &__images {
        grid-area: i;
        display: flex;
        flex-wrap: wrap;
    }

    &__plus, &__minus {
        height: 2rem;
        width: 2rem;        
        border-radius: 50%;
        cursor: pointer;
        padding-left: 0.3rem;
    }

    &__minus {
        position: absolute;
    }

    &__image {
        width: 6rem;
        height: auto;
        padding-left: 1rem;
        cursor: pointer;
    }

    &__header {
        grid-area: h;
    }

    &__sbmt {
        grid-area: sbmt;
        justify-self: end;
        min-width: 11rem;
        font: inherit;
        height: 2rem;
        border-radius: 0.3rem;
        border: solid 0.1rem lightgray;
        background-color: $color-active;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: $color-active-bright;
        }
    }
    
    &__header, &__view-header {
        font-size: 1rem;
        height: auto;
        width: auto;
        padding-left: 1rem;
    }

    &__title {
        grid-area: ti;
    }

    &__text {
        grid-area: t;
    }

    &__price {
        grid-area: s;
    }

    &__place {
        grid-area: p;
    }
    
    &__title,  &__price, &__place {
        grid: 2fr;
        width: 100%;
        border: solid 0.1rem lightgray;
        border-radius: 0.3rem;
        padding-left: 0.5rem;
        height: 2rem;
        font: inherit;
        outline: none;

        &.error {
            border: solid 0.1rem lightpink;
        }
    }
    
    &__text {
        width: 100%;
        border: solid 0.1rem lightgray;
        border-radius: 0.3rem;
        padding-left: 0.5rem;
        font: inherit;
        outline: none;
        resize: none;
    }
}