include ./content/content
include ./login/login
include ./header/header
include ./menu/menu

//- - var dataJson = require('./data.json');
- var page= 'Fish & Buy'

html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=500, initial-scale=1")
        title= page
        link(href="favicon.ico" rel="icon" type="image/x-icon")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://unpkg.com/ionicons@4.3.0/dist/css/ionicons.min.css" rel="stylesheet")
        link(href="main.css" rel="stylesheet")
        
    body
        .main
            .main__header 
                +header()
            .main__menu
                +menu()
            .main__content
                +content()
            .main__footer footer

    script(src="main.js")