
.login {
    border: solid 1px lightgray;
    background-color: $color-active;
    border-radius: 5px;
    padding: 5px 10px;
    font: inherit;
    width: auto;
    min-width: 70px;

    &:hover {
        background-color: $color-active-bright;
    }

    &_logout {
        background-color: $color-active2;

        &:hover {
            background-color: $color-active2-bright;
        }
    }

    &__btn {
        height: 20px;
        width: inherit;
        text-align: center;
        height: auto;
        cursor: pointer;
    }

    &__shadow {
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__grid {
        display: grid;
        width: 400px;
        position: relative;
        font: inherit;
        margin: 0 auto;
        top: 40%;
        background: linear-gradient($color-active, $color-active2);
        border-radius: 10px;
        padding: 20px;
        grid-gap: 15px;
        grid-template-areas:"e e e"
                            "p p p"
                            ". . s";
        
        &_reg {
            grid-template-areas:"e e e"
                                "p p p"
                                "f f f"
                                ". . s";
        }
    }

    &__email {
        grid-area: e;
    }

    &__password {
        grid-area: p;
    }

    &__phone {
        grid-area: f;
    }

    &__submit {
        grid-area: s;
        font: inherit;
        height: 30px;
        border-radius: 5px;
        border: solid 1px $color-active-bright;
        background-color: $color-active;
        outline: none;

        &:hover {
            background-color: $color-active-bright;
        }
    }

    &__email, &__password, &__phone {
        grid: 2fr;
        width: 100%;
        border: solid 1px lightgray;
        border-radius: 5px;
        padding-left: 10px;
        height: 30px;
        font: inherit;
        outline: none;

        &.error {
            border: solid 2px lightpink;
        }
    }

    &__btn-log, &__btn-reg {
        position: absolute;
        width: 185px;
        height: 30px;
        top: -30px;
        grid: 1fr;
        font: inherit;
        background-color: $color-active2;
        border: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 5px;
        cursor: pointer;
        opacity: 0.7;
        outline: none;

        &:hover {
            opacity: 1;
        }

        &:disabled {
            background-color: $color-active;
            cursor: default;
            opacity: 1;
        }
    }

    &__btn-log {
        left: calc(50% - 190px);
    } 
    
    &__btn-reg {
        left: calc(50% + 5px);
    }
}