
mixin login()
    .login
        form(action="doc/adduser" method="POST")
            .login__grid
                input(placeholder='e-mail' type="text" name="username").login__email
                input(placeholder='password' type="password" name="password").login__password
                input(type="submit" value="Submit" disabled).login__button