
mixin login()
    .login
        //- form(action="" method="POST" modelAttribute="account").login__form
        .login__btn Sign in
        //- .login__grid
        //-     input(placeholder='e-mail' type="text" name="email").login__email
        //-     input(placeholder='password' type="password" name="password").login__password
        //-     input(type="submit" value="Submit" disabled).login__button-log
        //-     input(type="submit" value="Register" disabled).login__button-reg