
mixin login()
    .login
        .login__grid
            input(placeholder='e-mail' type="text").login__email
            input(placeholder='password' type="password").login__password
            input(type="button" value="Send" disabled=true).login__button