
mixin menu()
    .menu
        .menu__item.menu__item_home Home
        .menu__item.menu__item_add Add new
        .menu__item.menu__item_lots My lots
        .menu__item.menu__item_about About
        +login()