
mixin menu()
    .menu
        .menu__item.menu__item_home 
            .menu__txt Home
        .menu__item.menu__item_add 
            .menu__txt Add new
        .menu__item.menu__item_lots 
            .menu__txt My lots
        .menu__item.menu__item_about 
            .menu__txt About
        +login()