.menu {
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 55rem) {
        padding: 0;
        height: fit-content;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        border: solid 0.1rem lightgray;
        margin-bottom: 1rem;
        min-width: 4rem;
        padding: 0.3rem 1rem;
        border-radius: 0.3rem;
        background-color: $color-active;
        cursor: pointer;
        display: flex;

        @media screen and (max-width: 55rem) {
            margin-right: 1rem;
            margin-bottom: 0;
            margin-top: 0.2rem;
        }

        &:hover {
            background-color: $color-dark;
        }

        &_hidden {
            display: none;
        }
    }

    &__wrapper {
        margin-bottom: 1rem;
        display: grid;

        @media screen and (max-width: 55rem) {
            margin-right: 1%;
            margin-bottom: 0;
            margin-top: 0.2rem;
        }
    }

    &__txt {
        margin: auto;
    }
}